* {
    box-sizing: border-box;
    font-family : Calibri;
    font-size: 1.25rem;
  }

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
      height: auto;
      border-radius: 6px;
  }

header {
    background-color: lightblue;
    text-align : center;
    padding: 1%;
  }

  .tribute-info {
    padding: 3%;
    text-align : justify;    
  }